/* You can add global styles to this file, and also import other style files */
.grid-stack-item {
  background-color: #f3defe;
}

.grid-stack{
  &.grid-stack-one-column-mode{
    .grid-stack-item{
      float: left !important;
      width: 100% !important;
    }
  }
}
